<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет news -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<h1>Все новости</h1>
<h3>Всего {{news|length}}</h3>

{% for newsdetail in news %}
<h2>{{newsdetail.headline|Censor}}</h2>
<h6>{{ newsdetail.post_time_in|date:'d M Y H i' }}</h6>
<h5>{{ newsdetail.text|truncatewords:50|Censor }}</h5>
{% endfor %}

{% endblock content %}