{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет news -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}

<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>

{% for newsdetail in filter.qs %}
<h2>{{newsdetail.headline|Censor}}</h2>
<h6>{{ newsdetail.post_time_in|date:'d M Y H i' }}</h6>
<h5>{{ newsdetail.text|truncatewords:50|Censor }}</h5>
{% endfor %}

{% endblock content %}