{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет news -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}

<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>

{% for postdetail in filter.qs %}
<a href="{% url 'post_detail' postdetail.id %}"><h5>{{ postdetail.headline }}</h5></a> <!-- При нажатии на заголовок в таблице нас теперь будет перекидывать на страницу с самой новости -->
<a href="{% url 'post_update' postdetail.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование новости-->
<a href="{% url 'post_delete' postdetail.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
<h5>{{ postdetail.post_time_in|date:'d M Y H i' }}</h5>
<h6>{{ postdetail.text|truncatewords:50|Censor }}</h6>

{% endfor %}

<a href="{% url 'post_create' %}">Добавить новую новость</a> <br>


{% endblock content %}