<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет post -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим саму новость, ID которой было передано в адрес -->
{% block content %}
{% for category in postdetail.categories.all %}
{% if  user in category.subscribers.all %}
<button><a href="{% url 'subscribed' category.id %}"><u> Отменить подписку на категорию <h3>{{ category.name }}</h3></u></a> </button>
{% else %}
<button><a href="{% url 'subscribed' category.id %}"><u> Подписаться на категорию {{ category.name }} </u></a> </button>
{% endif %}
{% endfor %}
<h2>{{ postdetail.headline|Censor }}</h2>
<h4>{{ postdetail.post_time_in|date:'d M Y H : i' }}</h4>
<h5>{{ postdetail.text|Censor }}</h5>

{% endblock content %}
